{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<main>
    <section class="hero">
        <h1>Про нас</h1>
        <p>HomeFinder — це онлайн-платформа, створена для того, щоб зробити процес пошуку житла максимально простим, швидким і зручним. Ми допомагаємо користувачам знайти ідеальну квартиру чи будинок для оренди або покупки, враховуючи індивідуальні побажання, бюджет та локацію.
		Наша система пропонує інтуїтивний інтерфейс, можливість фільтрації за ключовими параметрами (ціна, площа, кількість кімнат, район тощо) та інтерактивний перегляд карток оголошень. Кожне оголошення проходить попередню модерацію, що гарантує актуальність, достовірність та безпеку розміщеної інформації.</p>
    </section>
    <section class="values">
        <h2>Наші цінності</h2>
        <div class="value-list">
            <div class="value">
                <h3>Надійність</h3>
                <p>Ми перевіряємо всі оголошення та гарантуємо актуальність інформації.</p>
            </div>
            <div class="value">
                <h3>Простота</h3>
                <p>Інтуїтивно зрозумілий інтерфейс для швидкого пошуку та зв’язку з власниками.</p>
            </div>
            <div class="value">
                <h3>Безпека</h3>
                <p>Захищена система зв’язку між орендарями та власниками.</p>
            </div>
        </div>
    </section>
    <section class="team">
        <h2>Засновкик</h2>
        <div class="team-list">
            <div class="team-member">
                <h3>Іщенко Дарʼя Миколаївна</h3>
                <p>121 спеціальність «Інженерія програмного забезпечення» 4 Курс</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}