{% extends "base.html" %}

{% block title %}Контаки{% endblock %}

{% block content %}

<main>
    <section class="hero">
        <h1>Наші Контакти</h1>
        <p>Зв’яжіться з нами для отримання додаткової інформації або допомоги.</p>
    </section>
    <section class="contact-info">
        <div class="contact-details">
            <div class="contact-item">
                <h3>Адреса</h3>
                <p>вул. Прикладна, 15, Київ, Україна</p>
            </div>
            <div class="contact-item">
                <h3>Телефон</h3>
                <p>+38 (044) 123 45 67</p>
            </div>
            <div class="contact-item">
                <h3>Email</h3>
                <p>info@homefinder.com</p>
            </div>
            <div class="contact-item">
                <h3>Робочі години</h3>
                <p>Пн-Пт: 9:00 - 18:00</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}