{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
<main>
    <section class="hero">
        <h1>Знайдіть ідеальне житло легко!</h1>
        <p>Платформа для швидкого пошуку квартир і будинків з можливістю зв’язку з власниками.</p>
        <a href="{% url "services" %}" class="btn">Переглянути оголошення</a>
    </section>
    <section class="features">
        <h2>Наші можливості</h2>
        <div class="feature-list">
            <div class="feature">
                <h3>Зручний пошук</h3>
                <p>Фільтруйте житло за ціною, місцем розташування та характеристиками.</p>
            </div>
            <div class="feature">
                <h3>Безпечний зв’язок</h3>
                <p>Зв’язуйтесь із власниками безпосередньо через платформу.</p>
            </div>
            <div class="feature">
                <h3>Актуальні оголошення</h3>
                <p>Ми перевіряємо інформацію, щоб ви отримували лише найкращі пропозиції.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}